.slider{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
}
.awssld{
    width: 1076px;
}

.aws-btn {

    --slider-height-percentage: 60%;
    --slider-transition-duration: 525ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #3a3836;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #fcd0a8;
    --control-bullet-active-color: #d6b18f;
    --loader-bar-color: #3e3737;
    --loader-bar-height: 6px;
    }